.iconTrigger {
  border-radius: 35px;
  background-color: #337934 !important;
  color: #ffffff;
  display: flex;
  gap: 20px;
}

.EmptyCartMessage {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.EmptyCartMessage button {
  background-color: transparent;
  color: #000000;
  font-size: 20px;
}

.popoverContent {
  background-color: rgb(255, 255, 255);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  position: fixed;
  top: -45px;
  right: calc(-200px - 4vw);
  height: calc(100vh);
  min-width: 400px;
  padding: 0px 15px 30px;
  border-radius: 15px;
  color: #000000;
  overflow: scroll;
  box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.20);
}

.popoverContent .Topset {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  padding: 15px 0px;
}

.popoverContent .Topset h2 {
  color: #337934;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
}
.popoverContent .Topset p {
  font-size: 16px;
  color: #757575;
}
.popoverContent .Topset button {
  background-color: transparent;
  color: #000000;
  font-size: 23px;
}

.popoverContent .SelectedItems {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: fit-content;
}

.SelectedItems .Individual {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #ead4d4;
  padding: 10px;
}

.SelectedItems .Individual > div {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.SelectedItems .Individual > div h2,
.Details h2 {
  font-size: 22px;
  font-weight: 500;
  color: #337934;
}

.SelectedItems .Individual > div button {
  background-color: transparent;
  color: black;
}

.SelectedItems .Individual > div > div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.SelectedItems .Individual .Image {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.Individual .Counter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-color: #ffffff;
  padding: 8px;
  border-radius: 12px;
  gap: 20px;
  color: #8ebf47;
  border: 1px solid #cfcfcf;
}

.Individual .Counter button {
  font-size: 20px;
  background-color: transparent;
  color: #8ebf47;
}
.popoverContent .applyCoupon{
  width: 100%;
  border: 1px dashed #8A8484;
  background-color: white;
  padding: 15px 8px;
  color: #000000;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
  border-radius: 15px;
}
.Suggestion {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vh 0px;
  background-color: #f9f9f9;
}

.Details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Details > div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.SubmitBtn {
  color: white;
  background-color: #337934;
  padding: 10px;
  font-size: 17px;
  border-radius: 30px;
}
@media screen and (max-width: 680px) {
  .popoverContent {
    left: -70vw;
    width: 95vw;
    min-width: 300px;
    position: absolute;
    top: -98vh;
  }
  .iconTrigger {
    background-color: #fff !important;
  }
}
