.iconTrigger {
  border-radius: 35px;
  background-color: #337934 !important;
  color: #ffffff;
  display: flex;
  gap: 20px;
}

.popoverContent {
  background-color: rgb(255, 255, 255);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  position: fixed;
  top: -20px;
  right: calc(-200px - 3vw);
  height: calc(100vh - 50px);
  min-width: 400px;
  padding: 15px;
  border-radius: 15px;
  color: #000000;
}

.popoverContent .Topset {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.popoverContent .Topset h2 {
  color: #337934;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
}
.popoverContent .Topset p {
  font-size: 16px;
  color: #757575;
}
.popoverContent .Topset button {
  background-color: transparent;
  color: #000000;
  font-size: 20px;
}

.popoverContent .SelectedItems {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  overflow-y: scroll;
}

.SelectedItems .Individual {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #ead4d4;
  padding: 10px;
}

.SelectedItems .Individual > div {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.SelectedItems .Individual > div h2,
.Details h2 {
  font-size: 22px;
  font-weight: 500;
  color: #337934;
}

.SelectedItems .Individual > div button {
  background-color: transparent;
  color: black;
}

.SelectedItems .Individual > div > div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.SelectedItems .Individual .Image {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.Individual .Counter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-color: #ffffff;
  padding: 8px;
  border-radius: 12px;
  gap: 20px;
  color: #8ebf47;
  border: 1px solid #cfcfcf;
}

.Individual .Counter button {
  font-size: 20px;
  background-color: transparent;
  color: #8ebf47;
}

.Suggestion {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vh 0px;
  background-color: #f9f9f9;
}

.Details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Details > div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.SubmitBtn {
  color: white;
  background-color: #337934;
  padding: 10px;
  font-size: 17px;
  border-radius: 30px;
}
@media screen and (max-width: 680px) {
  .iconTrigger{
    display: none;
  }
  .popoverContent {
    left: 0;
    top: 0;
    width: 100vw;
    min-width: 300px;
  }
}
