.Wrapper{
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 20px 5vw;
    z-index: 999;
    top: 0;
    background-color: white;
}

.Wrapper button{
    background-color: transparent;
}

.Wrapper .Logo{
    width: 130px;
}

.Wrapper img{
    width: 100%;
}

.Wrapper .ButtonWrapper{
    display: flex;
    gap: 10px;
    color: white;
    align-items: center;
}

.ButtonWrapper button{
    width: fit-content;
    padding: 12px 20px;
    border: 1px solid #337934;
    display: flex;
    align-items: center;
    gap: 10px;
    height: fit-content;
}



.ButtonWrapper .LoginBtn{
    border-radius: 10px;
    color: #337934;
    font-weight: 600;
    font-size: 18px;
}

.ButtonWrapper .EditBtn{
      border-radius: 10px;
    color: #337934;
    font-weight: 500;
    font-size: 18px;
}
.MobNav{
    display: none;
}

.MobNav button{
    background-color: transparent;
    color: #337934;
    font-size: 17px;
    display: flex;
    align-items: center;
}

@media screen and (max-width:680px) {
    .Wrapper {
        display: none;
    }

    .MobNav{
        display: flex;
        background-color: white;
        position: fixed;
        bottom: 0;
        width: 100%;
        justify-content: space-around;
        padding: 15px;
        z-index: 9988;
    }
}